@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root{
    --cor-principal: #FFF2E7;
    --cor-secundaria: #ECD6C4;

    --fonte-principal : "Righteous";
    --fonte-secundaria : "Sarala";
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho__imagem{
    height: 72px;
}
.cabecalho__nav{
    display: flex;
    gap: 32px;
}
.nav__itens{
    font-size: 18px;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: 400;
}
.nav__itens:hover{
    color: rgba(236, 214, 196, 0.53);
}
.principal{
    margin-bottom: 48px;
    border-top: 0.4px solid var(--cor-principal);
}
.principal__introducao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.introducao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo__titulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 64px;
    color: var(--cor-principal);
}
.conteudo__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-secundaria);
}
.conteudo__botao{
    border-radius: 20px;
    background-color: var(--cor-secundaria);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
    text-decoration: none;
    border: none;
    width: 180px;
    height: 60px;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}
.conteudo__botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
  }
.introducao__imagem{
    height: 430px;
}
.explicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    gap: 32px;
}
.explicacao__titulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-principal);
    margin-bottom: 16px;
    padding-top: 48px;
    border-top: 0.4px solid var(--cor-principal);
}
.explicacao__texto{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 18px;
    color: var(--cor-secundaria);
}
.rodape{
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 28px;
    border-top: 0.4px solid #FFF2E7;
}